<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"  href="/mainPage.css"/>
    <title>All genres</title>
</head>
<body class="bg-dark">

<div>
    <header>
        <p class="logo">MOVIES</p>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link " href="/">
                    Main Page</a>

            </li>
            <li class="nav-item">
                <a class="nav-link"  href="/actors">All actors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/writers">All writers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/directors">All directors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">All genres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link "  href="/movies">All movies</a>
            </li>
        </ul>
    </header>
</div>


<p><a href="/genres/new">
    <input type="button"  class=" btn btn-outline-secondary" value="Create new genre" />
</a></p>

<table class="table-borderless" style="width:300px">
    <tr th:each="element : ${genres}">
        <td>
            <a th:href="@{/genres/{id}(id=${element.getId_genre()})}"
               class="text-white" th:text="${element.getId_genre()} + '. ' + ${element.getName_genre()}">
                Genre
            </a>
        </td>
    </tr>
</table>
</body>
</html>